// This partial contains all styles for Blog.html

// Header
.blog-header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../under-the-sea-assets/blog-head.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 62vh;

}

// Main Content Flex
.blog-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: $background;
}

// Blog Post Styles
.main-blog {
    width: 60%;
    position: relative;
    bottom: 150px;
    margin-bottom: -150px;
}

.blog-post {

    width: 100%;

    img {
        width: 100%;
        box-shadow: -40px 40px 0 $blue;
    }

    .article-content {
        padding: 0 40px 20px 0;
        width: 100%;
        margin: 0 auto;
        position: relative;

        h2  {
            margin: 0;
            padding: 80px 0 0;
        }

        p:first-of-type {
            padding-bottom: 40px;
        
        }
    }

    .article-content::before {
        content: ' ';
        display: block;
        border-left: 5px solid $blue;
        position: absolute;
        left: -40px;
        top: 0;
        height: 100%;
    }

    .article-content::after {
        content: ' ';
        display: block;
        border-bottom: 5px solid $blue;
        position: absolute;
        left: -40px;
        bottom: 0px;
        width: 100%;
    }
}

// Form 
.comment-form {
    width: 80%;
    margin: 0 auto;
}

// Aside Styles
aside {
    width: 30%;
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        z-index: 10;
        display: block;
    }

    .image {
        position: relative;
    }

    .image::before {
        content: ' ';
        display: block;
        border-right: 30px solid $green;
        position: absolute;
        height: 100%;
        right: -30px;
        top: 0;
    }
}

.info-group {
    align-self: flex-end;
    width: 80%;
    background: $green;
    padding: 0 20px 20px;
    position: relative;
    left: 30px;
}

// Comment Styles

// This label is for comments toggle for smaller screens
.comments-plus-form label {
    display: none;
}
.comments {
    margin: 0;
}

.comment {
    display: flex;
    justify-content: space-between;

    img {
        width: 100px;
        height: 100px;
        margin: 30px;
    }

    .paragraph {
        padding: 20px;
        width: 500px;
    }
}

// 900px for large tablets and half screen desktop
@media (max-width: 900px) {
    .info-group {
        width: 95%;
    }
}

// For Tablet
@media (max-width: 768px) {
    .blog-flex {
        flex-direction: column;
    }

    .main-blog {
        width: 80%;
        align-self: flex-end;
    }

    aside {
        width: 70%;
        margin-bottom: 50px;
        align-self: flex-start;
    }

    // For the tablet size and below I chose to add a toggle to hide the comments.
    // This decision was made because I wanted the hierarchy to make sense and to improve user experience.
    // As a user I would likely stop scrolling at the comments - preventing me from seeing valuable information.
    // This also reduces the scrolling the user is forced to do as the page gets longer and narrow. 
    // This works like a hamburger menu, showing and hiding the comment when checked.
    .comments-plus-form label {
        display: block;
        font-family: 'Barlow', sans-serif;
        font-size: 1.6rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 30px 0px;
        padding: 5px;

        &:hover {
            background: $green;
        }

        &:focus {
            background: $green;
        }
    }

    .comment-toggle {
        display: none;
    }

    .comments-plus-form input[type=checkbox]:checked + .comment-toggle {
        display: block;

        .comments h3 {
            display: none;
        }
    }  
}

// Phones
@media (max-width: 480px) {
    // contain comments
    .comment {
        flex-direction: column;
    }
}

// Small Phones
@media (max-width: 320px) {

    // Resizing needed
    .main-blog{
        width: 95%;
    }
    
    .blog-post {

        .article-content {
            h2 {
                font-size: 1.5rem;
                padding-top: 20px;
            }
            p {
                font-size: 0.8rem;
            }
            p:first-of-type {
                padding: 0;
            }
    }

        img {
            box-shadow: -15px 15px 0 $blue;
        }
        .article-content::before {
            left: -15px;
    }

        .article-content::after {
            left: -15px;
        }
    }

    .comment-form {
        width: 95%;
    }

    aside {
        width: 90%;

        h4 {
            font-size: 1.1rem;
        }
        p {
            font-size: 0.8rem;
        }
    } 
}