// This partial contains the styles for the bottom of home page

// Banner image
.banner {
    height: 400px;
    background-image: url(../under-the-sea-assets/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
// This Month Section
.month {
    background: $background;
    padding: 70px 0 90px;

    img {
        width: 25%;
        height: 25%;
        box-shadow: 25px 25px 0 $blue;
    }

    .month-content {
        width: 75%;
        margin-left: 80px;

        h2 {
            margin: 0;
        }

        p {
            padding-bottom: 25px;
        }
    }
}

.this-month {
    display: flex;
}

// Gallery
.last-section {
    background: $green;
}

.gallery {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;

    :nth-child(2) {
        padding: 0 30px;
    }
}

// 900px for large tablets and half screen desktop
@media (max-width: 900px) {
    .this-month {
        margin: 0 auto;
    }
}

// Tablets 
@media (max-width: 768px) {
    .banner {
        height: 300px;
    }
}

// Phones
@media (max-width: 480px) {
    .banner {
        height: 200px;
    }

    .this-month {
        display: block;
    }

    .month {

        img {
            width: 70%;
            height: 70%;
            display: block;
            margin: 0 auto;
        }

        .month-content {
            width: 90%;
            margin: 0 auto;
            text-align: center;

            h2 {
                margin: 0;
                padding-top: 40px;
            }

            p {
                padding-bottom: 25px;
            }
        }
    }

    .gallery {
        padding: 50px 0;
    

        :nth-child(2) {
            display: none;
        }

        .gallery img {
            margin: 0 10px;

        }
    }

}
// Small Phones
@media (max-width: 320px) {

    .banner {
        height: 150px;
    }

    .month {
        padding: 60px 0;
        width: 100%;
    }
    
    .gallery {
        display: block;

        img {
            display: block;
            margin: 0 auto;
            width: 250px;
            height: 250px;
        }

        :first-child {
            margin-bottom: 30px;
        }
    }
}
