// This partial contains the styling for both forms on the site.

// general forms - applies to both
::placeholder {
    color: white;
    font-family: 'Lato', sans-serif;
}

fieldset {
    border: none;
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

// There are two commented out transparent borders here, I left them in to show that I tried to reduce the "jiggle" effect that my focus state gives. However as these items have a border bottom on them it changes the shape of the border if this is above the border, but removes the border when below. 

input[type=text] {
    background: transparent;
    color: white;
    border: none;
    // border: 5px solid transparent;
    border-bottom: 2px solid $blue;
    margin-bottom: 30px;
    padding: 20px;
    width: 47%;  

    &:focus {
        border: 5px solid $blue;
    }
}

input[type=email] {
    background: transparent;
    color: white;
    border: none;
    margin-bottom: 30px;
    // border: 5px solid transparent;
    border-bottom: 2px solid $blue;
    padding: 20px;
    width: 47%;

    &:focus {
        border: 5px solid $blue;
    } 
}

textarea {
    border: 5px solid transparent;
    border: 2px solid $blue;
    background: transparent;
    color: white;
    padding: 20px;
    resize: none;
    width: 100%;
    height: 100%;

    &:focus {
        border: 5px solid $blue;
    }
}

.textarea-contain {
    width: 100%;
    height: 200px;
}

input[type=submit] {
    border: none;
    background: $green;
    color: white;
    padding: 10px 0;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    margin: 30px 0;
    border-bottom: 3px solid transparent;

    &:hover {
        border-bottom: 3px solid $blue;
    }

    &:focus {
        border-bottom: 3px solid $blue;
    }
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// For only the Comment Form on blog.html
.comment-form input[type=submit] {
    padding: 10px 0;
    width: 100%;
}

// For only the Form on contact.html
.contact-form input[type=submit] {
    background: $background;
}

.contact-form {
    background: $green;
    padding: 40px 70px 20px;;
}

// 900px for large tablets and half screen desktop
@media (max-width: 900px)   {

    // contact form
    .textarea-contain {
        width: 100%;
        height: 150px;
    }

    fieldset {
        flex-direction: column;

        input[type=text], input[type=email] {
            width: 100%;
        }
    }
}
