$background: #0c1423;
$blue: #86e0f9;
$green: #0f614e;


body {
  margin: 0;
}


.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;

}

// Buttons

.more {
    padding: 10px 20px;
    background: $blue;
    color: $background;
    
}

.read {
    padding: 10px 20px;
    background: $background;
    color: white;
}