// Article Section

.green-one {
    background: $green;
}

.new {
    display: flex;

    img {
        width: 55%;
        position: relative;
        right: 96px;
        bottom: 50px;
        box-shadow: 50px 50px 0 $blue;
    }
}

.new-content, .meet-content {
    width: 50%;
    padding: 30px;
}

.meet {
    display: flex;
    flex-direction: row-reverse;

    img {
        width: 60%;
        position: relative;
        right: -96px;
        bottom: -50px;
        box-shadow: -50px 50px 0 $blue; 
    }
}

.meet-content {
    text-align: right;
    margin-bottom: 30px;
}

// info section

.info-section {
    background: $background;
}

.info {
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0 90px;
}

.locations, .community, .blog-mainp, .contact-mainp {
    width: 50%;

    i {
        text-align: center;
        color: $background;
        background: $blue;
        padding: 12px;
        font-size: 1.3rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 5px;

    }

    p {
        padding: 0 20px 0 70px;
    }
}
