// Header Desktop

.home-header {
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../under-the-sea-assets/header-image.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
}

.header-flex {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.home-header img {
    max-width: 50%;
    height: auto;
    align-self: flex-end;
    position: relative;
    top: 50px;
}

.h1-main {
    width: 50%;
    white-space: pre-line;
    margin: 5%;
}
// .h1-main {
//     width: 30%;
//     min-width: 100px;
//     position: relative;
//     bottom: 50px;


// }

// .header-flex {
//     display: flex;
//     width: 80%;
   
// }

// // .header-img {
// //     align-items: center;
// //     height: auto;
// //     min-width: 0;
// // }

// .header-img {
//     // position: relative;
//     // left: 95px;
//     // top: 45px;
//     width: 40%;
//     // max-width: 100%;
//     max-height: 600px;
//     align-self: flex-end;
// }



// Under header

.under-header {
    background: $background;
    padding: 150px;
}

.section-one {
    text-align: center;
}

@media (max-width: 900px) {

    .h1-main {
        font-size: 5.9rem;
        line-height: 5.3rem;
        width: 30%;
    }

    .home-header img {
        top: 100px;
        max-width: 70%;
    }
}

@media (max-width: 768px) {
    .h1-main {
        font-size: 4.9rem;
        line-height: 4.3rem;
    }

    .under-header {
        padding: 60px 60px 100px;
    }

}

@media (max-width: 480px) {
    .h1-main {
        // width: 100px;
        font-size: 2.9rem;
        line-height: 3rem;
    }

    .header-flex {
        flex-direction: column;
    }

    .home-header img {
        max-width: 80%;
        top: -50px;
    }

    .under-header {
        padding: 60px 20px;
    }


}

@media (max-width: 320px) {

    .h1-main {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }

    .home-header img {
        position: static;
        width: 100%;

    }

    .under-header {
        padding-top: 10px;
    }
    
    

}

