// Main Navigation

.main-nav ul {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            padding: 5px 0;
            margin: 0 30px;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid $blue;
            }

            &:focus {
                border: 2px solid $blue;
            }


        }  
    }       
}

// For inactive Hamburger 

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.main-nav label {
    font-size: 3.5rem;
    display: none;
}

.main-nav label:focus {
    background: $green;
}

// Activate Hamburger for Tablet and below 

@media (max-width: 768px) {

    // Hide Normal Navigation and Show Hamburger
    .main-nav label {
        display: block;
        float: right;
    }

    .main-nav ul {
        display: none;
    }

    // Until this is checked then Show Nav in new configuration
    input[type=checkbox]:checked + ul {
        display: block;
        flex-direction: column;
        background: $green;
        z-index: 10;
        width: 50%;
        position: absolute;
        left: 0;
        top: 10;

    }
    input[type=checkbox]:checked + ul li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .hamburger {
        display: block;
        color: white;
    }  
}