.main-nav ul {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    // margin-right: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
        display: flex;
        align-items: center;
    }
        a {
            text-decoration: none;
            padding: 5px 0;
            margin: 0 30px;
            border-bottom: 2px solid transparent;

            &:hover {
            border-bottom: 2px solid $blue;
            }

        } 
        
}

// for hamburger 

input[type="checkbox"]{
    opacity: 0;
    position: absolute;
 }


.main-nav label {
    font-size: 3.5rem;
    display: none;
}


@media (max-width: 768px) {

    .main-nav label {
        display: block;
        float: right;
    }

    .main-nav ul {
        display: none;
    }

    input[type=checkbox]:checked + ul {
        display: block;
        flex-direction: column;
        background: $green;
        z-index: 10;
        width: 50%;
        position: absolute;
        left: 0;
        top: 10;
        
    }
    input[type=checkbox]:checked + ul li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .hamburger {
        display: block;
        color: white;

    }

    
}