html {
    font-size: 125%;
    color: white;
}

.h1-main {
    font-family: 'Barlow', sans-serif;
    font-size: 6.9rem;
    line-height: 6.3rem;
    text-transform: uppercase;
}

h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 4rem;
    line-height: 4.6rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 2.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;

}

h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.main-nav a {
    font-family: 'Barlow', sans-serif;
    color: white;
    letter-spacing: 1px;
    line-height: 1.45rem;
    text-transform: uppercase;
}

.more, .read {
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
    line-height: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    font-family: 'Lato', sans-serif;
    line-height: 1.6rem;
}