// This partial contains typography styles for the whole site.
html {
    font-size: 125%;
    color: white;
}

// index.html
.h1-main {
    font-family: 'Barlow', sans-serif;
    font-size: 6.9rem;
    line-height: 6.3rem;
    text-transform: uppercase;
}

// Blog and Contact
h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 4rem;
    line-height: 4.6rem;
    text-transform: uppercase;
}

// Other headings
h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 2.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;

}

h3, {
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;

}


h4, {
    font-family: 'Barlow', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;

}

// Nav Bar
.main-nav a {
    font-family: 'Barlow', sans-serif;
    color: white;
    letter-spacing: 1px;
    line-height: 1.45rem;
    text-transform: uppercase;
}

// Buttons
.more, .read {
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
    line-height: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
}

// Content
p {
    font-family: 'Lato', sans-serif;
    line-height: 1.6rem;
}