article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.more {
  padding: 10px 20px;
  background: #86e0f9;
  color: #0c1423;
  border-bottom: 5px solid transparent;
}

.more:hover {
  border-bottom: 5px solid #0f614e;
}

.read {
  padding: 10px 20px;
  background: #0c1423;
  color: white;
  border-bottom: 5px solid transparent;
}

.read:hover {
  border-bottom: 5px solid #86e0f9;
}

html {
  font-size: 125%;
  color: white;
}

.h1-main {
  font-family: 'Barlow', sans-serif;
  font-size: 6.9rem;
  line-height: 6.3rem;
  text-transform: uppercase;
}

h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 4rem;
  line-height: 4.6rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-size: 2.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-nav a {
  font-family: 'Barlow', sans-serif;
  color: white;
  letter-spacing: 1px;
  line-height: 1.45rem;
  text-transform: uppercase;
}

.more, .read {
  font-family: 'Barlow', sans-serif;
  letter-spacing: 1px;
  line-height: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  font-family: 'Lato', sans-serif;
  line-height: 1.6rem;
}

.home-header {
  height: 80vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../under-the-sea-assets/header-image.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../under-the-sea-assets/header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.h1-main {
  width: 420px;
  min-width: 100px;
  position: relative;
  bottom: 50px;
}

.header-img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  min-width: 0;
}

.header-flex img {
  position: relative;
  left: 95px;
  top: 45px;
  width: 700px;
  max-width: 100%;
  max-height: 600px;
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.under-header {
  background: #0c1423;
  padding: 150px;
}

.section-one {
  text-align: center;
}

@media (max-width: 900px) {
  .h1-main {
    font-size: 5.9rem;
    line-height: 5.3rem;
  }
  .header-flex img {
    left: 70px;
    width: 600px;
  }
}

@media (max-width: 768px) {
  .h1-main {
    font-size: 4.9rem;
    line-height: 4.3rem;
  }
}

@media (max-width: 480px) {
  .h1-main {
    width: 100px;
    font-size: 2.9rem;
    line-height: 2.3rem;
  }
  .header-flex {
    display: block;
  }
  .header-flex img {
    width: 350px;
    left: 90px;
    top: 0;
  }
  .under-header {
    padding: 60px 20px;
  }
}

@media (max-width: 320px) {
  .h1-main {
    font-size: 1.9rem;
    line-height: 1.3rem;
  }
}

.main-nav ul {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav ul a {
  text-decoration: none;
  padding: 5px 0;
  margin: 0 30px;
  border-bottom: 2px solid transparent;
}

.main-nav ul a:hover {
  border-bottom: 2px solid #86e0f9;
}

.hamburger {
  display: none;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .main-nav li:not(:last-child) {
    display: none;
  }
  .hamburger {
    display: block;
    color: white;
  }
}

.green-one {
  background: #0f614e;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new img {
  width: 55%;
  position: relative;
  right: 96px;
  bottom: 50px;
  -webkit-box-shadow: 50px 50px 0 #86e0f9;
          box-shadow: 50px 50px 0 #86e0f9;
}

.new-content, .meet-content {
  width: 50%;
  padding: 30px;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.meet img {
  width: 60%;
  position: relative;
  right: -96px;
  bottom: -50px;
  -webkit-box-shadow: -50px 50px 0 #86e0f9;
          box-shadow: -50px 50px 0 #86e0f9;
}

.meet-content {
  text-align: right;
  margin-bottom: 30px;
}

.info-section {
  background: #0c1423;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 120px 0 90px;
}

.locations, .community, .blog-mainp, .contact-mainp {
  width: 50%;
}

.locations i, .community i, .blog-mainp i, .contact-mainp i {
  text-align: center;
  color: #0c1423;
  background: #86e0f9;
  padding: 12px;
  font-size: 1.3rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.locations p, .community p, .blog-mainp p, .contact-mainp p {
  padding: 0 20px 0 70px;
}

@media (max-width: 900px) {
  .new {
    display: block;
  }
  .new img {
    display: block;
    width: 90%;
    margin: 0 auto;
    position: static;
    -webkit-box-shadow: 50px -50px 0 #86e0f9;
            box-shadow: 50px -50px 0 #86e0f9;
  }
  .new-content, .meet-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .meet {
    display: block;
  }
  .meet img {
    width: 90%;
    display: block;
    margin: 0 auto;
    position: static;
  }
  .meet-content {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}

@media (max-width: 768px) {
  .new img {
    -webkit-box-shadow: 40px -40px 0 #86e0f9;
            box-shadow: 40px -40px 0 #86e0f9;
  }
  .meet img {
    -webkit-box-shadow: -40px 40px 0 #86e0f9;
            box-shadow: -40px 40px 0 #86e0f9;
  }
}

@media (max-width: 480px) {
  .new img {
    -webkit-box-shadow: 20px -20px 0 #86e0f9;
            box-shadow: 20px -20px 0 #86e0f9;
  }
  .meet img {
    -webkit-box-shadow: -20px 20px 0 #86e0f9;
            box-shadow: -20px 20px 0 #86e0f9;
  }
  .meet-content {
    margin-top: 15px;
  }
  .info {
    display: block;
    padding: 0;
  }
  .locations, .community, .blog-mainp, .contact-mainp {
    width: 90%;
    margin: 0 auto;
  }
  .locations h3, .community h3, .blog-mainp h3, .contact-mainp h3 {
    text-align: center;
  }
  .locations p, .community p, .blog-mainp p, .contact-mainp p {
    padding: 0;
  }
  .locations h3 {
    padding-top: 50px;
    margin-top: 0;
  }
  .contact-mainp p {
    padding-bottom: 50px;
    margin-bottom: 0;
  }
}

.banner {
  height: 400px;
  background-image: url(../under-the-sea-assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.month {
  background: #0c1423;
  padding: 70px 0 90px;
}

.month img {
  width: 25%;
  height: 25%;
  -webkit-box-shadow: 25px 25px 0 #86e0f9;
          box-shadow: 25px 25px 0 #86e0f9;
}

.month .month-content {
  width: 75%;
  margin-left: 80px;
}

.month .month-content h2 {
  margin: 0;
}

.month .month-content p {
  padding-bottom: 25px;
}

.this-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.last-section {
  background: #0f614e;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.gallery :nth-child(2) {
  padding: 0 30px;
}

footer {
  background: #86e0f9;
  color: #0c1423;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 5px 0;
}

@media (max-width: 900px) {
  .this-month {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 200px;
  }
  .this-month {
    display: block;
  }
  .month img {
    width: 70%;
    height: 70%;
    display: block;
    margin: 0 auto;
  }
  .month .month-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .month .month-content h2 {
    margin: 0;
    padding-top: 40px;
  }
  .month .month-content p {
    padding-bottom: 25px;
  }
  .gallery {
    padding: 50px 0;
  }
  .gallery :nth-child(2) {
    display: none;
  }
  .gallery .gallery img {
    margin: 0 10px;
  }
}

@media (max-width: 320px) {
  .gallery {
    display: block;
  }
  .gallery img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
  }
  .gallery :first-child {
    margin-bottom: 30px;
  }
}

.blog-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../under-the-sea-assets/blog-head.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../under-the-sea-assets/blog-head.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 62vh;
}

.blog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #0c1423;
}

.main-blog {
  width: 80%;
}

.blog-post img {
  width: 735px;
  position: relative;
  bottom: 170px;
  left: 160px;
  -webkit-box-shadow: -40px 40px 0 #86e0f9;
          box-shadow: -40px 40px 0 #86e0f9;
}

.blog-post .article-content {
  padding: 0 40px;
  border-left: 3px solid #86e0f9;
  border-bottom: 3px solid #86e0f9;
  width: 700px;
  position: relative;
  bottom: 200px;
  left: 22px;
}

.blog-post .article-content h2 {
  margin: 0;
  padding: 80px 0 0;
}

.blog-post .article-content p:first-of-type {
  padding-bottom: 40px;
}

aside {
  width: 30%;
}

aside img {
  width: 400px;
  position: relative;
  top: 80px;
  z-index: 10;
}

.info-group {
  background: #0f614e;
  padding: 300px 20px 30px;
  position: relative;
  left: 50px;
  bottom: 235px;
}

.comments {
  position: relative;
  bottom: 200px;
  left: 40px;
  padding-bottom: 300px;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment img {
  width: 100px;
  height: 100px;
  margin: 30px;
}

.comment .paragraph {
  padding: 20px;
  width: 500px;
}

@media (max-width: 900px) {
  .blog-flex {
    display: block;
    padding-bottom: 50px;
  }
  .main-blog {
    width: 80%;
  }
  .blog-post img {
    bottom: 100px;
    display: block;
    margin: 0 auto;
  }
  .blog-post .article-content {
    bottom: 100px;
    left: 110px;
  }
  .comments {
    bottom: 100px;
    left: 60px;
    padding-bottom: 300px;
  }
  aside {
    width: 80%;
    margin: 0 auto;
  }
  aside img {
    display: block;
    margin: 0 auto;
    top: 0;
  }
  .info-group {
    padding: 300px 20px 30px;
    position: relative;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    left: 100px;
    bottom: 300px;
  }
}

.comments-plus-form {
  position: relative;
}

.comment-form {
  position: absolute;
  top: 350px;
  left: 140px;
}

input[type=submit] {
  border: none;
  background: #0f614e;
  color: white;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  padding: 10px 273px;
  margin: 30px 0;
  border-bottom: 3px solid transparent;
}

input[type=submit]:hover {
  border-bottom: 3px solid #86e0f9;
}

.contact-form input[type=submit] {
  background: #0c1423;
  padding: 10px 310px;
}

.contact-form {
  background: #0f614e;
  padding: 40px 80px 20px;
}

::-webkit-input-placeholder {
  color: white;
  font-family: 'Lato', sans-serif;
}

:-ms-input-placeholder {
  color: white;
  font-family: 'Lato', sans-serif;
}

::-ms-input-placeholder {
  color: white;
  font-family: 'Lato', sans-serif;
}

::placeholder {
  color: white;
  font-family: 'Lato', sans-serif;
}

fieldset {
  border: none;
}

input[type=text] {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid #86e0f9;
  margin-bottom: 30px;
  padding: 20px;
  width: 310px;
  margin-right: 50px;
  margin-left: 0;
  position: relative;
  right: 15px;
}

input[type=email] {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid #86e0f9;
  padding: 20px;
  width: 310px;
}

textarea {
  border: 2px solid #86e0f9;
  background: transparent;
  color: white;
  padding: 20px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../under-the-sea-assets/contact-header.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../under-the-sea-assets/contact-header.jpg);
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.contact-header h1 {
  padding-bottom: 200px;
}

.contact-main {
  background: #0c1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form {
  position: relative;
  bottom: 200px;
  right: 50px;
  width: 840px;
  height: 475px;
  -webkit-box-shadow: -40px 40px 0 #86e0f9;
          box-shadow: -40px 40px 0 #86e0f9;
}

.social {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social li {
  padding: 15px;
}

.social a {
  color: white;
}

.addresses .no-wrap {
  white-space: pre-line;
}

.addresses .no-wrap .one-line {
  white-space: nowrap;
}

.addresses h3 {
  margin-bottom: 0;
}
